body
{
    display: flex;
    justify-content: center;
}
h4
{
    display: flex;
    justify-content: center;
}
.M
{
    display: grid;
    border: solid 1px #000;
    margin: 150px;
    padding: 50px;
}