*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h4
{
	display: flex;
	justify-content: center;
}

body
{
	background-color: #000000;
	background-image:url(/IMG/2e9a4ea1-d66b-42a1-a772-11be59532d86\ \(1\).jpeg);
	background-size: 50%;
}

.MiEstilo {
	width: 400px;
	background: #69ffef;
	padding: 15px;
	margin: auto;
	margin-top: 50px; 
	border-radius: 20px;
	font-family: 'calibri';
	color: #ffff;
	box-shadow: 2px 4px 15px #000000;
}

.MiEstilo h4 {
	font-size: 40px;
	margin-bottom: 20px;
} 

.caja{
	width: 100%;
	background: #f2f3f4;
	padding: 10px;
	border: 3px solid #69c4ff;
	border-radius: 7px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 18px;
}

.botones{
	width: 100%;
	background: #69ffa4;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

.bton
{
	background-color: #0d8783;
	color: white;
	padding: 10%;
	margin-left: 9%;
	height: 20px;
	width: 300px;
}