img
{
    width: 50px;
    height: 50px;
}
.imagen
{
    width: 50vh;
    height: 50vh;
}

body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    gap: 3px;
    grid-auto-columns:1px ;
    height: 100vh;
}
/* Estilos del Navbar */
.navbar {
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    grid-column: 1 / 5;
    grid-row: 1;
}

.sidebar {
    background-color: #e4e4e4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Transición suave para mostrar/ocultar */
    transform: translateX(0); /* Barra visible por defecto */
    grid-column: 1;
    grid-row: 2 / 5;
}

.sidebar.hidden {
    transform: translateX(-100%); /* Oculta la barra lateral */
    grid-column: 0;
}
.full-width {
    grid-column: 1 / 5;
}
.main-content {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: flex 0.3s ease-in-out; /* Transición suave cuando cambia el ancho */
    grid-column: 2 / 5;
    grid-row: 2 / 5;
}
/* Estilo para los textos */
h1, h2 {
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}
