.Dashboard
{
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3498db;
    color: #ecf0f1 !important;
    font-weight: bold;
    font-size: xx-large;
}